{% extends "new.html" %}
{% block scripts %}
<script>
	function getDuration(value1.value2){

		if (value1 !="" && value.length>0){
				$.getJSON($SCRIPT_ROOT + '/getDuration',
				{number : value1,
				 duration: value2},
				function(data) {
					alert(data);
	 		 });
			
		}else{
			document.getElementById("main").innerHTML="";
		}
	};
	$(document).ready(function(){
				$('#duration').keyup(function(){
		        	getDuration($("#duration".val(),$("#time").val()));
		    	});
			});
</script>
{% endblock %}
{% block body %}
<h1>So you don't want to binge on {{name}} huh?</h1>
<h2>{{name}} has {{numEps}} episodes {% if numSeasons > 1 %} across {{numSeasons}} seasons{% endif %}</h2>
<h2>I want to finish it
	<form>
		<input id="duration" type="number" name="quantity" min="1">
		<select id="time">
		    <option value="days">Days</option>
		    <option value="weeks">Weeks</option>
		    <option value="months" selected>Months</option>
		    <option value="years">Years</option>
  		</select>
	</form>
 months from now</h2>
<h2>Watch {{(numEps / 8) | round(0,'ceil') | int() }} episodes per week and be done in {{(86/(numEps / 8) | round(0,'ceil') | int()) | round(0,'ceil') | int() }} weeks.</h2>
{% endblock %}