<!doctype html>
<head>
	<title>Top New Movie</title>
	<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript">
		  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script type=text/javascript>
			function mySearch(value){
				if (value!=""){
					$.getJSON($SCRIPT_ROOT + '/search',
						{searchText : value},
						function(data) {
							var titleList="";
			      			for(count=0; count<20; count++){
								var title=data.results[count].title;
								titleList = titleList + title;
							}
						document.getElementById("main").innerHTML=titleList;
		     		 });
				}else{
					document.getElementById("main").innerHTML="";
				}
			}
		
		</script>
</head>
<body>
	
	<h1>The top new movie today is {{data["results"][0]["title"]}}</h1>
	<input name="mysearchvalue" type="text" onkeyup="mySearch(this.value)">
	<div id="main">something</div>
</body>
